<a style="margin-left : 5px;" class="btn btn-primary" href="" routerLink="/administrativeResolution">
  <fa-icon class="fa-lg" icon="arrow-left"></fa-icon>    
</a>


<div class="container col-md-6">
        <div class="card">
            <h5 class="card-header">Nuevo</h5>
            <div class="card-body">
                <form (ngSubmit)="onSubmit()" #LegalRuling="ngForm">
                    
                    <div style="margin-bottom:5px;" class="form-group">
                        <input 
                            class="form-control" 
                            [(ngModel)]="model.number" 
                            [ngClass]="{ 'is-invalid': (number.dirty || LegalRuling.submitted) && number.invalid,
                            'is-valid' : number.dirty && number.valid }"
                            #number="ngModel" 
                            required 
                            name="number" 
                            type="number"
                            placeholder="Número de resolución">
                    </div>
                    
                    <div  
                        *ngIf="number.dirty && !LegalRuling.submitted && number.invalid" 
                        class="alert alert-danger mt-1">
                        <div *ngIf="number.errors.required">
                            El campo 'Número' no debería estar vacío
                        </div>
                    </div>
                
                    <div style="margin-bottom:5px;" class="form-group">
                        <input 
                            class="form-control" 
                            [(ngModel)]="model.description" 
                            required 
                            #description="ngModel" 
                            name="description" 
                            type="text"
                            placeholder="Descripción"
                            [ngClass]="{ 'is-invalid': (description.dirty || LegalRuling.submitted) && description.invalid,
                            'is-valid' : description.dirty && description.valid }">
                    </div>
                    <div
                        *ngIf="description.dirty && !LegalRuling.submitted && description.invalid" 
                        class="alert alert-danger mt-1">
                        <div *ngIf="description.errors.required">
                            El campo 'Descripción' no debería estar vacío
                        </div>
                    </div>
                
                    <div class="form-group">
                      <div class="input-group">
                          <input class="form-control col-md-3" 
                          placeholder="dd-mm-yyyy"
                          name="dp" 
                          displayMonths="displayMonths" 
                          required 
                          [readonly]="true"
                          [ngClass]="{ 'is-invalid': (date.dirty || LegalRuling.submitted) && date.invalid,
                          'is-valid' : date.dirty && date.valid}"
                          navigation="navigation"
                          outsideDays="outsideDays" 
                          showWeekNumbers="showWeekNumbers"
                          ngbDatepicker 
                          #date="ngModel"
                          #dp="ngbDatepicker" 
                          [(ngModel)]="model.date">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button">
                                <fa-icon icon="calendar-alt"></fa-icon>
                            </button>
                          </div>
                      </div>
                    </div>
                
                    <div style="margin-bottom:5px;" class="form-row">
                        <button [disabled]="!LegalRuling.valid" 
                                class="btn btn-success ml-auto" >
                            <fa-icon class="fa-lg" icon="save"></fa-icon> Guardar
                        </button>
                    </div>
                
                </form>            
        </div>
    </div>
</div>




  




